@import '~test-module/imported';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css';


html{
	height: 100%;

	/* This is the description of this css variable. */
	--css-variable-color: #ff0000;

	/* This is the description of this css variable. */
	--css-variable-length: 1px;
}

body{
	height: 100%;
	transition: width 0.2s linear;
}

custom-element{
	color: red;
}

@keyframes tag-not-match{
	from{color:red}
	to{color:red}
}


#id1{color: red}

.class1{
	&-sub{
		&-tail{
			color: red;
		}
	}
}

.class2, .class3{
	&-sub{
		color: red;
	}
}

.class4, .class4-sub{
	&-sub{
		&-tail{
			color: red;
		}
	}
}

.class5{
	@media screen {
		&-sub5{
			color: red;
		}
	}
}

.class6{
	@at-root &-sub6{
		color: red;
	}
}

.class7{
	@at-root .class7-sub7{
		color: red;
	}
}

.class8{
	color: red;
}

.class9{
	color: red;
}

.class10{
	color: red;
}


.class-match1:hover{
	color: red;
}

.class-match2::before{
	color: red;
}

.class-match3[name=value]{
	color: red;
}

.class-any .class-match4{
	color: red;
}

.class-any .class-match5:hover{
	color: red;
}

.class-any > .class-match6{
	color: red;
}

.class-any + .class-match7{
	color: red;
}

.class-any ~ .class-match8{
	color: red;
}

.class-any.class-match9{
	color: red;
}

div.class-match10{
	color: red;
}

.class-any:matches(.class-not-match1){
	color: red;
}

.class-any:not(.class-not-match2){
	color: red;
}

.class-not-match3 .class-any{
	color: red;
}

.class-not-match4-suffix{
	color: red;
}

.class-sub-reference-not-match{
	&:hover{
		color: red;
	}

	&[name=value]{
		color: red;
	}
}

.class-use-variable {
	color: var(--css-variable-color);
	width: var(--css-variable-length);
}

.match-jquery-selector{
	color: red;
}

.match-querySelector{
	color: red;
}

.match-querySelectorAll{
	color: red;
}


.test-vue-import-class{
	color: red;
}

/* Here is Class Description. */
.class-with-hover-message{
	color: red;
	font-size: 1px;
	line-height: 100;
	list-style: none;
	left: 0px;
}

@media (min-width: 1280px) {
    .xl\:w-1\/6{
        width: 16.666667%;
    }
}