html{
	height: 100%;
}

body{
	height: 100%;
}

custom-element{
	color: red;
}


#id{
	color: red;

	&-subid{
		color: red;

		&-subid2{
			color: red
		}
	}
}


.class1{
	color: red;

	&-sub{
		color: red;

		&-tail{
			color: red
		}
	}
}

.class2, .class3{
	color: red;

	&-sub{
		color: red;
	}
}

.class4, .class4-sub{
	color: red;

	&-sub{
		color: red;

		&-tail{
			color: red;
		}
	}
}

.class-match1:hover{
	color: red;
}

.class-match2::before{
	color: red;
}

.class-match3[name=value]{
	color: red;
}

.class-any .class-match4{
	color: red;
}

.class-any .class-match5:hover{
	color: red;
}

.class-any > .class-match6{
	color: red;
}

.class-any + .class-match7{
	color: red;
}

.class-any ~ .class-match8{
	color: red;
}


.class-any.class-not-match1{
	color: red;
}

.class-any:matches(.class-not-match2){
	color: red;
}

.class-not-match3 .class-any{
	color: red;
}

.class-not-match4-suffix{
	color: red;
}

.class-sub-not-match{
	&:hover{
		color: red;
	}

	&[name=value]{
		color: red;
	}

	&.class-any{
		color: red;
	}

	&::before{
		color: red;
	}
}


@keyframes tag-not-match1{
	start{color:red}
	end{color:red}
}

body tagnotmatch{
	color: red;
}

body{
	tagnotmatch{
		color: red;
	}

	@at-root a, b{
		color: red;
	}
}
