.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
**/tsconfig.esm.json
**/*.tsbuildinfo
**/*.tsbuildInfo
**/package-lock.json
.travis.yml
client/node_modules/!(vscode-*)/**
client/node_modules/vscode-test
client/test/**
images/!(logo.png)
.VSCodeCounter/**

# under node_modules
**/.github/**
**/node_modules/**/.*
**/node_modules/**/.bin/**
**/node_modules/**/bin/**
**/node_modules/**/@types/**
**/node_modules/**/test/**
**/node_modules/**/*.txt
**/node_modules/**/*.md
**/node_modules/**/*.markdown
**/node_modules/**/LICENSE
**/node_modules/**/license
**/node_modules/**/README
**/node_modules/**/readme
**/node_modules/**/CHANGELOG
**/node_modules/**/changelog

