.vscode/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/node_modules/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
client/test/**
images/*.gif
images/*.svg

# under node_modules
**/.github/**
**/node_modules/**/.*
**/node_modules/**/@types/**
**/node_modules/**/test/**
**/node_modules/**/*.md
**/node_modules/**/*.markdown
**/node_modules/**/LICENSE
**/node_modules/**/license
**/node_modules/**/README
**/node_modules/**/readme
**/node_modules/**/CHANGELOG
**/node_modules/**/changelog
	